﻿body {
    padding-top: 45px;
}

h1, h2, h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    color: #5BC0DE;
}

footer h3 {
    font-style: italic;
}

blockquote {
    border-left: 5px solid #5BC0DE;
}

.footer {
    background-color: #5BC0DE;
}

.btn-flat {
    display: inline-block;
    margin: 0 5px;
    font-family: "Lato", sans-serif;
    font-size: 16.5px;
    padding: 12px 20px;
    border: 0;
    background: #34495E;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}

.jumbotron {
    background-color: #5BC0DE;
}

.navbar {
    background: #5BC0DE;
    border-color: #5BC0DE;
}

.navbar a {
    font-weight: 800;
}

.navbar-inverse .navbar-brand {
    color: #333;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
}